<div class="featured text-center">
  <h2>{{model.name}}</h2>
  <p>{{model.blurb}}</p>
  <!-- <img src={{model.photo.med}} alt="" /> -->
  <button class="btn btn-default" {{action "buildSVG" model}}>Click</button>

  <div id="chart">
    <p>

    </p>
  </div>
</div>
