<div class="featured text-center">
  <h2>{{model.name}}</h2>
  <p>{{model.blurb}}</p>
</div>

<div class="row">
  <div class="col-sm-6">
    <img class="img img-responsive" src={{model.photo.full}} alt="" />
  </div>

  <div id="chart" class="col-sm-6 text-center">
    <p></p>
  </div>
</div>
