<header id="top" class="container-fluid">
  {{#link-to 'index'}}
  <div class="mainHeader">
    <h1>Kickcharter</h1>
  </div>
  {{/link-to}}
  <!-- Navigation -->
</header>

<div class="container mainContent">
  {{outlet}}
</div>

<footer id="bottom" class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-xs-6">
      <h5>About Us</h5>
      <ul>
        <li>Some</li>
        <li>Text</li>
        <li>Here</li>
      </ul>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h5>Help</h5>
      <ul>
        <li>Some</li>
        <li>Text</li>
        <li>Here</li>
      </ul>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h5>Discover</h5>
      <ul>
        <li>Some</li>
        <li>Text</li>
        <li>Here</li>
      </ul>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h5>Hello</h5>
      <ul>
        <li>Some</li>
        <li>Text</li>
        <li>Here</li>
      </ul>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-4">
      <img class="img img-responsive center-block" src="assets/bear.png" alt="Placeholder Image of a Bear" />
      <p class="copyrightText">&copy; 2016 Bears, Inc.</p>
    </div>

    <div class="col-sm-4"></div>

    <div class="col-sm-4">
      <ul class=>
        <li><a href="https://www.facebook.com/"><img class="socialIcon img img-responsive" src="assets/facebook.svg" alt="Facebook Icon"/></a></li>
        <li><a href="https://twitter.com/"><img class="socialIcon img img-responsive" src="assets/twitter.svg" alt="Twitter Icon"/></a></li>
        <li><a href="https://www.instagram.com/"><img class="socialIcon img img-responsive" src="assets/instagram.svg" alt="Instagram Icon"/></a></li>
      </ul>



    </div>

  </div>
</footer>
