<header id="top" class="container-fluid">
  <div class="mainHeader">
    <h1>Test</h1>
  </div>
  <!-- Navigation -->
</header>

<div class="container">
  {{outlet}}
</div>

<div class="footerSpacer"></div>
<hr class="scissor">
<footer id="bottom" class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-xs-6">
      <h5>About Us</h5>
      <ul>
        <li>Some</li>
        <li>Text</li>
        <li>Here</li>
      </ul>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h5>Help</h5>
      <ul>
        <li>Some</li>
        <li>Text</li>
        <li>Here</li>
      </ul>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h5>Discover</h5>
      <ul>
        <li>Some</li>
        <li>Text</li>
        <li>Here</li>
      </ul>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h5>Hello</h5>
      <ul>
        <li>Some</li>
        <li>Text</li>
        <li>Here</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="social">
    <ul>
      <li>Social Links</li>
      <li>Social Links</li>
      <li>Social Links</li>
    </ul>
  </div>
</footer>
