<header id="top" class="container-fluid">
  {{#link-to 'index'}}
  <div class="mainHeader">
    <h1>Kickcharter</h1>
  </div>
  {{/link-to}}
  <!-- Navigation -->
</header>

<div class="container mainContent">
  {{outlet}}
</div>

<footer id="bottom" class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-xs-6">
      <h5>About Us</h5>
      <ul>
        <li>Some</li>
        <li>Text</li>
        <li>Here</li>
      </ul>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h5>Help</h5>
      <ul>
        <li>Some</li>
        <li>Text</li>
        <li>Here</li>
      </ul>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h5>Discover</h5>
      <ul>
        <li>Some</li>
        <li>Text</li>
        <li>Here</li>
      </ul>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h5>Hello</h5>
      <ul>
        <li>Some</li>
        <li>Text</li>
        <li>Here</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="social row">
    <div class="col-sm-3 col-xs-12">
      <img class="img img-responsive center-block" src="assets/bear.png" alt="Placeholder Image of a Bear" />
      <p class="copyrightText">&copy; 2016 Bears, Inc.</p>
    </div>
    <div class="col-sm-9 col-xs-12">
      <ul>
        <li>Social Links</li>
      </ul>
      <ul>
        <li>Social Links</li>
      </ul>
      <ul>
        <li>Social Links</li>
      </ul>
    </div>
  </div>
</footer>
