<header id="top" class="container-fluid">
  {{#link-to 'index'}}
  <div class="mainHeader">
    <h1>Kickcharter</h1>
  </div>
  {{/link-to}}
  <!-- Navigation -->
</header>

<div class="container mainContent">
  {{outlet}}
</div>

<footer id="bottom" class="container-fluid">
  <div id="charterRow" class="row">
    <div class="col-sm-3 col-xs-6">
      <h4>About Us</h4>
      <ol>
        <li>{{#link-to 'project'}}Project Story{{/link-to}}</li>
        <li><a href="https://www.epicodus.com/">Epicodus</a></li>
        <li><a href="https://github.com/jryanconklin/kickcharter">On GitHub</a></li>
      </ol>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h4>Help</h4>
      <ol>
        <li><a href="https://www.plannedparenthood.org/">Planned Parenthood</a></li>
        <li><a href="http://www.wateraid.org/">Water Aid</a></li>
        <li><a href="http://www.savethewhales.org/">Save the Whales</a></li>
      </ol>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h4>Discover</h4>
      <ol>
        <li><a href="https://kickstarter.com/">Kickstarter</a></li>
        <li><a href="http://www.hamiltonbroadway.com/">Hamilton</a></li>
        <li><a href="http://dnd.wizards.com/">DnD</a></li>
      </ol>
    </div>
    <div class="col-sm-3 col-xs-6">
      <h4>Hello</h4>
      <ol>
        <li><a href="https://slack.com/">Slack</a></li>
        <li><a href="https://gitter.im/">Gitter</a></li>
        <li><a href="https://www.meetup.com/">Meetup</a></li>
      </ol>
    </div>
  </div>
  <hr>
  <div id="socialRow" class="row">
    <div class="col-sm-4">
      <img class="img img-responsive center-block" src="assets/bear.png" alt="Placeholder Image of a Bear" />
      <p class="copyrightText">&copy; 2016 Bears, Inc.</p>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4" id="iconRow">
      <ul>
        <li><a href="https://www.facebook.com/"><img class="socialIcon img img-responsive" src="assets/facebook.svg" alt="Facebook Icon"/></a></li>
        <li><a href="https://twitter.com/"><img class="socialIcon img img-responsive" src="assets/twitter.svg" alt="Twitter Icon"/></a></li>
        <li><a href="https://www.instagram.com/"><img class="socialIcon img img-responsive" src="assets/instagram.svg" alt="Instagram Icon"/></a></li>
      </ul>
    </div>
  </div>
</footer>
