<header id="top" class="container-fluid">
  <div class="jumbotron">
    <h1>Test</h1>
  </div>
</header>

<div class="container">
  {{outlet}}
</div>

<footer id="bottom" class="container-fluid">
  <div class="well">
    <h6>Footer</h6>
  </div>
</footer>
