<h2>Our Story</h2>

<p>This was a fun adventure in the land of d3. Many things were learned. Some real. Some imagined.</p>
<p>
  We started with a lot of plans. 3 days proved to be a shorter time than our little band knew. The sorcerer at the top of the tower had many puzzles and traps laid for us.
</p>

<p>
  On the plus side, Ryan found a sweet bear icon and made it his pet.
</p>

<p>
  Stephen charted a graph from unknown kicks inside the land of d3.
</p>

<p>
  Caleb lost his mind while journeying into the depths of Twitter's streaming API.  He returned a changed man.
</p>

<p>
  Zach harnessed the power of DOM manipulation to bring number data to the page.
</p>
